@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.contenedor_calculadora{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    padding: 30px;
    
    width: 90%;
    
    margin-top: 20px; /* Add some space from the top */
}

h1, h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 10px;
}

.warning {
    background-color: #fff3cd;
    border-left: 5px solid #ffc107;
    padding: 10px 15px;
    margin-bottom: 20px;
    color: #664d03;
    border-radius: 4px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="number"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    background-color: #28a745;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

.results-container {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

.results-container p {
    font-size: 1.1em;
    margin-bottom: 8px;
}

#userRenewableConsumption { /* Actualizado el ID del resultado principal */
    font-weight: bold;
    color: #007bff;
    font-size: 1.3em;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .container {
        margin: 10px;
        padding: 20px;
    }

    input[type="number"],
    select,
    button {
        font-size: 1em;
        padding: 10px;
    }
}